<!doctype html>
<html id="tienda">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>
  <link rel="stylesheet" href="css/header.css">
  <title>Proyecto</title>
</head>
<body class="respuesta">

    <% if (UsuarioValido) { %>

        <%- include('partials/logeado') %>
        
    <% } else { %>

        <%- include('partials/headers') %>
        
    <% } %>

    <div class="flex justify-center items-center p-5">

        <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
        <lottie-player src="https://assets8.lottiefiles.com/packages/lf20_kn04a47u.json"  background="transparent"  speed="1"  style="width: 450px; height: 450px;"  loop autoplay></lottie-player>

    </div>

    <section class="my-5 p-7 bg-gradient-to-r from-cyan-400 to-blue-500">
        <h2 class="text-center text-3xl text-white">
            Software
        </h2>
    </section>

    <main class="m-2" id="producto">

        <form action="/software" method="get">
            <div class="p-9 flex justify-center items-center gap-2 w-screen">

                <div>
                    <input type="text" placeholder="Buscar..." class="p-2 border-2 border-gray-300 rounded-full max-md:w-9-12" id="busqueda_software" name="busqueda_software">
                </div>
    
                <div>
                   <button class="p-3 bg-gradient-to-r from-cyan-400 to-blue-500 hover:scale-125 text-white font-semibold rounded-full animacion">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
                        </svg>  
                    </button>  
                </div>
    
            </div>
        </form>

        <% if (software.length == 0) { %>

          <%- include('partials/404') %>
 
        <% } else { %>
 
            <div class="grid lg:grid-cols-4 md:grid-cols-2 grid-cols-1 justify-items-center items-center my-8 gap-7">

                <% software.docs.forEach((app) => { %>
                    <div class="bg-white shadow-lg p-6 md:hover:scale-110 animacion max-md:flex gap-3 max-md:w-full rounded-md border border-slate-400 padre">
                        <div>
                            <img src="<%= app.url %>" style="width: 200px; height: 300px;" class="rounded" name="imagen">
                        </div>
                        <div class="w-full">
                            <section class="p-2">
                                <h3 class="text-center text-xl uppercase" name="nombre">
                                    <%= app.producto %>
                                </h3>
                            </section>
                               <div class="p-2 grid justify-items-center">
                                <div class="flex">
                                    <p class="text-lg text-center text-green-600" id="precio" name="precio">
                                        <%= app.precio %>  
                                    </p>
                                    <span class="text-lg text-center text-green-600">
                                        $
                                    </span>
                                </div>
                              </div>
                                <div class="mb-2">
                                    <a href="/producto/<%= app._id %>" class="flex justify-center bg-blue-500 hover:bg-blue-400 p-2 rounded-md animacion">
                                        <div class="flex gap-1">
                                            <span class="text-white">Comprar</span>
                                        </div>
                                    </a>
                                </div>
                                <div>
                                    <button class="flex justify-center bg-cyan-500 hover:bg-cyan-400 p-2 rounded-md animacion w-full carrito" data-id="<%= app._id %>">
                                        <div class="flex gap-1 items-center">
                                            <span class="text-white">Agregar</span>
                                            <span class="text-white">
                                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                                    <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 00-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 00-16.536-1.84M7.5 14.25L5.106 5.272M6 20.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zm12.75 0a.75.75 0 11-1.5 0 .75.75 0 011.5 0z" />
                                                </svg>
                                            </span>
                                        </div>
                                    </button>
                                </div>
                        </div>
                    </div>
                <% }); %>
                
            
            </div>
 
        <% } %>

    </main>

    <div class="flex justify-center mb-5">
        <div class="pagination">
            <% if (software.page > 1) { %>
              <a href="/software?page=<%= parseInt(software.page) - 1%>">&laquo;</a>
            <% } %>
            <% for (let i = 1; i <= software.totalPages; i++) { %>
              <% if (i == software.page) { %>
                <a class="active"><%= i %></a>
              <% } else { %>
                <a href="/software?page=<%= i %>"><%= i %></a>
              <% } %>
            <% } %>
            <% if (software.page < software.totalPages) { %>
              <a href="/software?page=<%= parseInt(software.page) + 1%>">&raquo;</a>
            <% } %>
        </div>
    </div>

    <%- include('partials/footer') %>
    
 <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
 <script src="js/menu.js"></script>
 <script src="/js/saveCart.js"></script>
</body>
</html>